*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

html {
    font-size: 15px;
}

body {
  min-height: 100vh;
  color: #2F3144;
  background: #F4F4F8;
  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: 1.6;
  font-family: Manrope, sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}


a {
    text-decoration: none;
    color: #2F3144;
    transition: 0.4s;
}


#app {
    margin: 0 auto;
    font-weight: normal;
    height: 100vh;
    height: 100dvh;
    overflow: hidden;
}


@font-face {
	font-family: 'Manrope';
	src: url('./font/Manrope-ExtraLight.woff2') format('woff2'),
     url('./font/Manrope-ExtraLight.woff') format('woff');
	font-weight: 1;
	font-style: normal;
}
@font-face {
	font-family: 'Manrope';
	src: url('./font/Manrope-ExtraLight.woff2') format('woff2'),
     url('./font/Manrope-ExtraLight.woff') format('woff');
	font-weight: 200;
	font-style: normal;
}
@font-face {
	font-family: 'Manrope';
	src: url('./font/Manrope-Light.woff2') format('woff2'),
     url('./font/Manrope-Light.woff') format('woff');
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: 'Manrope';
	src: url('./font/Manrope-Regular.woff2') format('woff2'),
     url('./font/Manrope-Regular.woff') format('woff');
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: 'Manrope';
	src: url('./font/Manrope-Medium.woff2') format('woff2'),
     url('./font/Manrope-Medium.woff') format('woff');
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: 'Manrope';
	src: url('./font/Manrope-SemiBold.woff2') format('woff2'),
     url('./font/Manrope-SemiBold.woff') format('woff');
	font-weight: 600;
	font-style: normal;
}
@font-face {
	font-family: 'Manrope';
	src: url('./font/Manrope-Bold.woff2') format('woff2'),
     url('./font/Manrope-Bold.woff') format('woff');
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: 'Manrope';
	src: url('./font/Manrope-ExtraBold.woff2') format('woff2'),
     url('./font/Manrope-ExtraBold.woff') format('woff');
	font-weight: 800;
	font-style: normal;
}
