.hero {
    //display: flex;
    

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .hero__info {
        width: 46%;

        .hero__title {
            margin-bottom: 40px;
        }

        .hero__subtitle {
            color: $gray;
        }
    }


    .hero__image {
        width: 50%;
    }
    

    
}


@media screen and (max-width:768px) {
    .hero {
        .container {
            flex-direction: column;
            align-items: center;
        }
        .hero__info {
            text-align: center;
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        .hero__image {
            width: 100%;
        }
    }
}
