/*colors*/
$dark: #0A1F38;
$dark-middle: #1B2F46;
$dark-light: #2F4056;
$gray: #9DA5AF;

$green-dark: #819400;
$green-middle: #97AB0D;
$green: #A5BB0C;
$green-light: #B1C909;

$white: #FFFFFF;



/*layout*/
* {
    box-sizing: border-box;
}

body {
    font-family: Montserrat, sans-serif;
    color: $white;
    background-color: $dark;
    font-size: 20px;
    font-weight: 500;
}

.container {
    width: 100%;
    margin: 0 auto;
    padding: 0 160px;
}


h1,h2,h3,h4 {
    margin: 0;
}
h1 {
    font-size: 104px;
    font-weight: 900;
    line-height: 100%;
}
h2 {
    font-size: 48px;
    font-weight: 600;
}
h3 {
    font-size: 32px;
    font-weight: 400;
    line-height: 150%;
}
h4 {
    font-size: 24px;
    font-weight: 600;
}
.text-small {
    font-size: 18px;
    font-weight: 400;
}
.text-small-bold {
    font-size: 18px;
    font-weight: 700;
}

.link {
    color: $green-light;
    text-decoration: none;

    &:hover {
        color: $white;
    }
}

img {
    max-width: 100%;
}


@media screen and (max-width:1366px) {
    .container {
        padding: 0 80px;
    }
}

@media screen and (max-width:768px) {
    .container {
        padding: 0 40px;
    }
}

@media screen and (max-width:530px) {
    h1 {
        font-size: 60px;
    }
    h2 {
        font-size: 32px;
    }
    h3 {
        font-size: 24px;
    }
    .text-small {
        font-size: 14px;
    }
    .text-small-bold {
        font-size: 14px;
    }
    .container {
        padding: 0 20px;
    }
}
/*@media screen and (max-width:360px) {
    h1 {
        font-size: 60px;
    }
}*/