.button {
    display: inline-flex;
    text-align: center;
    padding: 12px 20px;
    background-color: #ff7f50;
    color: #ffffff;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}

.button {
    
}