.calendar {
    display: flex;
    justify-content: center;
}

.date-wrapper {
    width: 800px;
    //margin: 0 auto;
}


.vc-highlights {
    display: none;
    position: unset;
}
.vc-highlight-content-solid {
    color: inherit;
}
.vc-week {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}
.vc-day {
    width: 100px;
    min-height: 100px;
    padding: 28px 6px 6px;
    border: 1px solid gray;

    margin-right: 10px;

    justify-content: flex-start;
    align-items: flex-start;


    &:last-child {
        margin-right: 0;
    }

    .vc-day-content {
        position: absolute;
        top: 0;
        left: 0;
        width: unset;
        padding-left: 6px;
    }

    .cell_inner {
        display: flex;
        flex-direction: column;
        font-size: 0.8rem;
        width: 100%;

        .wish-list {
            display: flex;
            flex-direction: column;

            .item {
                display: flex;
                align-items: flex-end;
                justify-content: space-between;
                border-radius: 6px;
                padding: 2px;
                margin-bottom: 4px;
    
                background-color: orange;
                color: white;
    
                .name {
                    font-size: 0.7rem;
                    margin-right: 0.1rem;
                }

                .price::after {
                    content: 'р.';
                }
            }
        }

        .total {
            border-top: 1px solid gray;
            display: none;
            justify-content: space-between;
            margin-top: 10px;

            .price::after {
                content: 'р.';
            }
        }

        .wish-list:has(.item) ~ .total {
            display: flex;
        }
        
    }
}
.vc-monthly .is-not-in-month * {
    opacity: 0.4;
}

.vc-pane-container .remove-area {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 100%;
    transition: 0.5s;
    background-color: rgba(0,0,0,0.1);
}
.vc-pane-container .remove-area.active {
    bottom: 90%;
}

.vc-header {
    margin-top: 20px;
}


.buyList-wrapper {
    flex: 1;
    
    border: 1px solid gray;
    border-radius: 10px;

    max-width: 600px;

    .buyList {
        padding: 20px;
        border-bottom: 1px solid gray;

        & h3 {
            margin-bottom: 35px;
        }

        .buyList-list {
            display: flex;
            flex-wrap: wrap;
            margin-bottom: 20px;
    
            .buyList-item {
                margin-right: 10px;
                margin-bottom: 10px;
                border-radius: 10px;
                padding: 10px 20px;
                color: #fff;
                user-select: none;
                position: relative;
                display: flex;
                
                /*cursor: grab;*/

                cursor: move;

                &:not(:first-child) {
                    
                }
                &.dragging {
                    /*cursor: grabbing;*/

                    opacity: 1;
                }
                .name {
                    margin-right: 4px;
                }
                .price::after {
                    content: 'р.';
                }

                .remove {
                    position: absolute;
                    top: -8px;
                    right: -8px;
                    width: 16px;
                    height: 16px;
                    background-color: #fff;
                    border-radius: 50%;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    cursor: pointer;

                    & img {
                        width: 8px;
                        height: 8px;
                    }
                }
            }
            .buyList-item:not([style]) {
                color: #0D0D0D;
            }
            .buyList-item::before{
                content: '';
                position: absolute;
                transition: 0.5s;
                top: 100%;
                right: 0;
                bottom: 0;
                left: 0;
                background-color: #fff;
                overflow: hidden;
            }
            .buyList-item.removing::before{
                top: 0;
            }
        }

        .buyList-add {

            .inputs {
                margin-top: 20px;
                display: flex;
                align-items: center;

                .input {
                    width: auto;
                }

                .check-submit {
                    width: 32px;
                    height: 32px; 
                    background: none;
                    opacity: 0.8;
                    opacity: 0;
                    transition: 0.2s ease-out;

                    &:hover {
                        opacity: 1;
                    }

                    
                    &.active {
                        opacity: 1;
                    }
                }
                 
            }
        }
    } 
}
